<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
  <a class="navbar-brand" href="#" id="navbarBrand"><img src="../img/logoWithoutShadow.png" alt="Rocket League Exchange" width="80" height="50"></a>
    <ul class="nav navbar-nav">
      <div class="navbar-header">
        <!-- <a class="navbar-brand"> -->
        </a>
      </div>
  
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home </a>
      </li>
      <!--<li>-->
      <!--  <a href="https://rocketleagueexchange.herokuapp.com/reddit/all"><span class="glyphicon glyphicon-transfer"></span> All Reddit Trades </a>-->
      <!--</li>-->
      <!--<li class="dropdown">-->
      <!--  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-filter"></span> Filter Reddit Trades <span class="caret"></span></a>-->
      <!--    <ul class="dropdown-menu" role="menu">-->
      <!--      <li><a href="https://rocketleagueexchange.herokuapp.com/reddit/xbox">Xbox Trades</a></li>-->
      <!--      <li><a href="https://rocketleagueexchange.herokuapp.com/reddit/ps4">PS4 Trades</a></li>-->
      <!--      <li><a href="https://rocketleagueexchange.herokuapp.com/reddit/pc">PC Trades</a></li>-->
      <!--    </ul>-->
      <!--</li>-->
    </ul>
    </div>
</nav>
