<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="logo">
      <img class = "smaller" src="/rlicon.png">
    </a>
    <h1>Rocket League Exchange</h1>
    <p>This is an extension of /r/RocketLeagueExchange that lets you apply filters to the console and directly message traders with your offers.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://rocketleagueexchange.herokuapp.com/reddit"><span class="glyphicon glyphicon-transfer"></span> Getting Started Trading </a>
  </div>
</div>

</body>
</html>
