<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>

    <div class="container">
      <h1> Error 404: Are you lost? </h1>
      <a type="button" class="btn btn-lg btn-default" href="https://rocketleagueexchange.herokuapp.com"><span class="glyphicon glyphicon-home"></span> Take Me Home! </a>
    </div>

  </body>
  </html>
