<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

    <% include ../partials/nav.ejs %>

  <h1> Are you lost? </h1>
  <a type="button" class="btn btn-lg btn-default" href="https://rocketleagueexchange.herokuapp.com"><span class="glyphicon glyphicon-home"></span> Getting Started Trading </a>

  </body>
  </html>
