<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <script type="text/javascript" src = "/scripts/RetrieveExchangeData.js"> </script>
</head>



<body>

    <% include ../partials/nav.ejs %>

    <div class="container">

        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/reddit/xbox">Xbox</a></li>
            <li role="presentation"><a href="/reddit/ps">PS4</a></li>
            <li role="presentation"><a href="/reddit/pc">PC</a></li>
            <li role="presentation"><a href="/reddit">All</a></li>
        </ul>

    </div>

    <div class="container" id="posts">

    </div>

</body>
</html>
