<!DOCTYPE html>
<html>
<head>
    <% include ../partials/header.ejs %>
    <script type="text/javascript" src = "/scripts/RetrieveExchangeData.js"> </script>
</head>



<body>

    <% include ../partials/nav.ejs %>

    <div class="container" id="mainContainer">

        <ul class="nav nav-tabs">
            <li role="presentation"><a href="/reddit/xbox">Xbox</a></li>
            <li role="presentation"><a href="/reddit/ps4">PS4</a></li>
            <li role="presentation"><a href="/reddit/pc">PC</a></li>
            <li role="presentation"><a href="/reddit/all">All</a></li>
        </ul>

        <form action="" onsubmit="handle(event)">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><span class = "glyphicon glyphicon-search"></span></span>
              <input id="txtJob" type="text" class="form-control" placeholder="Item name" aria-describedby="basic-addon1">
            </div>
        </form>

        <h3 id="alertText"> </h3>

    </div>

    <div class="container" id="posts"><div class="loader" id="loader"></div></div>

    <div class="container" id="refreshButton">

    </div>



</body>
</html>
